@use "tailwindcss";

@use "./abstracts/_mixins.scss";
@use "./abstracts/_keyframes.scss";
@use "./base/_fonts.scss";
@use "./base/_lenis.scss";
@use "./base/_reset.scss";
@use "./components/_txt.scss";

:root {
  --color-black: #19191f;
  --color-orange: #de722f;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-ultra-light.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: "Helvetica";
}

body {
  background: white;
  color: var(--color-black);
  background-color: white;
}
