@use 'tailwindcss';

@use './abstracts/_mixins.scss';
@use './abstracts/_keyframes.scss';
@use './base/_fonts.scss';
@use './base/_lenis.scss';
@use './base/_reset.scss';
@use './components/_txt.scss';
@use './components/_button.scss';

:root {
  --color-black: #19191f;
  --color-orange: #de722f;
}

@font-face {
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/helvetica-ultra-light.otf') format('opentype');
  font-family: 'Helvetica';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/helvetica-light.otf') format('opentype');
  font-family: 'Helvetica';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/helvetica-medium.otf') format('opentype');
  font-family: 'Helvetica';
  font-display: swap;
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/helvetica-bold.otf') format('opentype');
  font-family: 'Helvetica';
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background: var(--color-black);
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  font-family: 'Helvetica';
}

body {
  background: white;
  background-color: white;
  color: var(--color-black);
  cursor: none;
}
